absl-py==0.7.1
aiohttp==3.6.2
alabaster==0.7.12
alpaca-trade-api==0.51.0
alpha-vantage==2.2.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript @ file:///Users/runner/miniforge3/conda-bld/appscript_1594155673827/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1596629848887/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astor==0.7.1
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1591645087651/work
astropy==4.0.1.post1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1597959372343/work
auquan-toolbox==2.1.92
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.entry-points-selectable==1.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1597679909012/work
bidict==0.22.0
bitarray @ file:///Users/runner/miniforge3/conda-bld/bitarray_1598307803226/work
bkcharts==0.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1598293121191/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.1.1
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1595805544857/work
chardet==3.0.4
charset-normalizer==2.0.10
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama==0.4.3
conda==4.9.2
conda-build==3.20.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling-build_1597341545462/work/cph
configparser==5.0.2
confuse==1.4.0
contextlib2==0.6.0.post1
crayons==0.4.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1598621201447/work
cssselect==1.1.0
csvreader==0.0.4
cycler==0.10.0
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1594253484118/work
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1598661378447/work
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distlib==0.3.2
distributed @ file:///Users/runner/miniforge3/conda-bld/distributed_1598661472166/work
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
fastcache==1.1.0
feedparser==6.0.8
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1594584774608/work
Flask==1.1.2
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1596221475257/work
future==0.18.2
fxcmpy==1.3.3
gast==0.3.3
gevent @ file:///Users/runner/miniforge3/conda-bld/gevent_1592657486386/work
glob2==0.7
gmpy2==2.1.0b1
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1591368823244/work
grpcio==1.31.0
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
htmlmin==0.1.12
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1593295488581/work
ImageHash==4.2.0
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
imbalanced-learn==0.7.0
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1593211384223/work
inflection==0.5.1
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1596221474428/work
intervaltree==3.0.2
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1595446887249/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1598749963659/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort @ file:///Users/runner/miniforge3/conda-bld/isort_1597466555115/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1592619352011/work
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1591810480056/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1598728807792/work
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments==0.1.1
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
Keras==2.4.3
Keras-Applications==1.0.7
Keras-Preprocessing==1.1.2
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1598903940622/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1594322707743/work
Markdown==3.1
MarkupSafe==1.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-base_1597952245216/work
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
mock @ file:///usr/local/miniconda/conda-bld/mock_1588618892558/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
mpl-finance @ https://github.com/matplotlib/mpl_finance/archive/master.zip
mpmath==1.1.0
msgpack==1.0.0
multidict==4.7.6
multipledispatch==0.6.0
multitasking==0.0.9
Nasdaq-Data-Link==1.0.2
navigator-updater==0.2.1
nbclient==0.5.0
nbconvert==6.0.2
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nest-asyncio==1.4.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk==3.4.4
nose==1.3.7
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1597285258712/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1598599295796/work
numexpr==2.7.1
numpy==1.18.5
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1593656006205/work
oandapyV20==0.7.2
oauthlib==3.1.0
olefile==0.46
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1598029012711/work
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==0.24.1
pandas-datareader==0.9.0
pandas-profiling==2.9.0
pandocfilters==1.4.2
parse==1.19.0
parso==0.7.0
partd==1.1.0
path @ file:///Users/runner/miniforge3/conda-bld/path_1595896306853/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
phik==0.10.0
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1594212133169/work
pkginfo==1.5.0.1
platformdirs==2.3.0
plotly==5.1.0
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1592827488528/work
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1598885455507/work
protobuf==3.13.0
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1594826940124/work
ptyprocess==0.6.0
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat==0.6.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pyee==8.2.2
pyflakes==2.2.0
Pygments==2.6.1
PyHamcrest==2.0.2
pylint @ file:///Users/runner/miniforge3/conda-bld/pylint_1598117077706/work
pyodbc==4.0.30
pyOpenSSL==19.1.0
pyotp==2.6.0
pyparsing==2.4.7
pyperclip==1.8.0
pyppeteer==0.2.6
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyquery==1.4.3
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.0.1
python-dateutil==2.8.1
python-dotenv==0.19.1
python-engineio==4.3.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1588783985962/work
python-language-server @ file:///Users/runner/miniforge3/conda-bld/python-language-server_1593716099830/work
python-socketio==5.0.4
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1597162770358/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1588715536397/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1597691775247/work
QtPy==1.9.0
Quandl==3.5.2
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1594799395594/work
requests==2.27.1
requests-html==0.10.0
requests-oauthlib==1.3.0
robin-stocks==2.1.0
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
rsa==4.6
Rtree==0.9.4
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1598972514737/work
scikit-image==0.17.2
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1596546094462/work
scikit-plot==0.3.7
scipy==1.4.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1591878760859/work
selenium==3.141.0
Send2Trash==1.5.0
sgmllib3k==1.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.24
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
snowballstemmer==2.0.0
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1591583091437/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1597405755328/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1597058540894/work
spyder @ file:///Users/runner/miniforge3/conda-bld/spyder_1594414183409/work
spyder-kernels @ file:///Users/runner/miniforge3/conda-bld/spyder-kernels_1595628922009/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1597701938823/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1598551227524/work
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1597017448755/work
TA-Lib==0.4.21
tables==3.6.1
tangled-up-in-unicode==0.0.6
tb-nightly==1.14.0a20190301
tblib==1.6.0
tenacity==7.0.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.3
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-estimator-nightly==1.14.0.dev2019030115
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1598552017756/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz==0.10.0
tornado==6.0.4
tpqoa @ git+https://github.com/yhilpisch/tpqoa.git@f47a1ffddd2b2684c7e1569df6210b98dbe4e701
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1596476591553/work
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
ujson==1.35
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
v20==3.0.25.0
virtualenv==20.7.2
visions==0.5.0
w3lib==1.22.0
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1595646219227/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webdriver-manager==3.3.0
webencodings==0.5.1
websocket-client==0.57.0
websockets==9.1
Werkzeug==1.0.1
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1594164361045/work
wrapt==1.11.2
WTForms==2.2.1
wurlitzer==2.0.0
xgboost==1.3.0.post0
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1597362230404/work
xlwings==0.20.5
xlwt==1.3.0
xmltodict==0.12.0
yahoo-fin==0.8.9.1
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
yarl==1.6.0
yfinance==0.1.69
zict==2.0.0
zipp==3.1.0
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1591372894284/work
zope.interface==5.1.0
